<!-- <mat-toolbar color="accent">
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <mat-chip-list>
        <span class="logIn">
            <a href=''>Log In</a>
        </span>
        <mat-chip selected class="signUp">Sign Up</mat-chip>
      </mat-chip-list>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet> -->

<!-- <div class="nav-container">   
      <div class="nav-menu">
        <a href='' class="login">Log In</a>
        <a href='' class="signup">Sign Up</a>
      </div>
      <div class=""help>
        <a href="">help</a>
      </div>
  </div> -->
<!--<router-outlet></router-outlet> -->

<mat-toolbar>
    <mat-toolbar-row>
      <div class="content-space">
        robinhood
      </div>
      <div class="content-space">
          investment
      </div>
      <div class="content-space">
          cash management
      </div>
      <div class="content-space">
          coming soon
      </div>
      <div class="logIn-signUp">
        <a class="logIn">Log In</a>
        <button mat-raised-button class="signUp">Sign Up</button>
      </div>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>